name: Deploy

on:
  push:
    branches:
      - main

jobs:
  build:
    permissions:
      id-token: write
      contents: read
    runs-on: ubuntu-latest
    steps:
      - name: Checkout source code
        uses: actions/checkout@v3

      - name: Deploy to xquare
        uses: team-xquare/xquare-deployment-action@master
        with:
          environment: prod
          access_key: ${{ secrets.XQUAER_ACCESS_KEY }}
          github_token: ${{ secrets.PICK_WEB_TEACHER }}
